#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC         &kp N1        &kp N2        &kp N3  &kp N4  &kp NUMBER_5  &kp N6  &kp N7  &kp N8     &kp N9         &kp N0         &kp MINUS         &kp EQUAL          &kp BACKSPACE         &kp DELETE
&kp TAB         &kp Q         &kp W         &kp E   &kp R   &kp T         &kp Y   &kp U   &kp I      &kp O          &kp P          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp NON_US_BACKSLASH  &kp C_AC_HOME
&kp CAPS        &kp A         &kp S         &kp D   &kp F   &kp G         &kp H   &kp J   &kp K      &kp L          &kp SEMICOLON  &kp SQT                              &kp ENTER             &kp PAGE_UP
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C   &kp V   &kp B         &kp N   &kp M   &kp COMMA  &kp PERIOD     &kp SLASH                        &kp RIGHT_SHIFT    &kp UP_ARROW          &kp PAGE_DOWN
&kp LCTRL       &kp LEFT_WIN  &kp LEFT_ALT                  &kp SPACE                                &kp RIGHT_ALT  &kp L          &mo 1             &kp LEFT_ARROW     &kp DOWN_ARROW        &kp RIGHT_ARROW
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp F1  &kp F2  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans
&trans  &trans  &trans                  &trans                          &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
